#app {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: rgb(156 163 175);
  height: 0.25rem;
  border-radius: 4px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #009fda;
  cursor: pointer;
  margin: -4px;
}

input[type=range]::-moz-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 100%;
}

input[type="range"]::-moz-range-track {
  background: rgb(75 85 99);
  height: 0.25rem;
  border-radius: 4px;
}

input[type="range"] {
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 150px;
}

#clip-corners {
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 20px, calc(100% - 20px) 0);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 20px, calc(100% - 20px) 0);
}

.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
